/marking/assets
train/Dataset
train/results
train/runs
train/test_shots
*yolov8n.pt
*.ts
*.m3u8
*.mp4
*.jpg
/train/test3.py
test.py
test2.py
*__pycache__
tracking_data_stream_1.json
tracking_data_stream_2.json